{% load static %}
<!-- ================================
Start Navigation Bar
================================= -->
<header class="header" id="header">
    <nav class="nav container">
        <a href="{% url 'plantswebsite:home' %}" class="nav__logo">
            <i class="ri-leaf-line nav__logo-icon"></i> Recent Gardener
        </a>

        <div class="nav__menu" id="nav-menu">
            <ul class="nav__list">
                <li class="nav__item">
                    {% comment %} <a href="{% url 'plantswebsite:home' %}" class="nav__link active-link">Home</a> {% endcomment %}
                    <a href="{% url 'plantswebsite:home' %}" class="nav__link">Home</a>
                </li>
                <li class="nav__item">
                    <a href="{% url 'plantswebsite:shop' %}" class="nav__link">Shop</a>
                </li>
                {% if request.user.is_authenticated %}
                    <li class="nav__item">
                        <a href="{% url 'plantswebsite:cart' %}" class="nav__link qty-input">Cart{{ cart.product_quantity }}</a>
                    </li>
                {% else %}
                    <li class="nav__item">
                        <a href="{% url 'plantswebsite:login' %}" class="nav__link">Cart</a>
                    </li>
                {% endif %}
                {% if request.user.is_authenticated %}
                    <li class="nav__item">
                        <a href="{% url 'plantswebsite:myorders' %}" class="nav__link">My Orders</a>
                    </li>
                {% endif %}
                {% if request.user.is_authenticated %}
                <li class="nav__item">
                    <a href="{% url 'plantswebsite:logout' %}" class="nav__link">Logout</a>
                </li>
            {% else %}
                <li class="nav__item">
                    <a href="{% url 'plantswebsite:login' %}" class="nav__link">Login/Register</a>
                </li>
            {% endif %}
                <li class="nav__item">
                    <a href="{% url 'plantswebsite:contact' %}" class="nav__link">Contact Us</a>
                </li>
            </ul>

            <div class="nav__close" id="nav-close">
                <i class="ri-close-line"></i>
            </div>
        </div>

        <div class="nav__btns">
            <!-- Theme Change Button -->
            <i class="ri-moon-line change-theme" id="theme-button"></i>

            <div class="nav__toggle" id="nav-toggle">
                <i class="ri-menu-line"></i>
            </div>
        </div>
    </nav>
    
</header>

<!-- ================================
End Navigation Bar
================================= -->