{% extends 'plantswebsite/base.html' %}
{% load static %}


{% block title %}Recent Gardener | Contact Us{% endblock %}
{% block decription %}{% endblock %}
{% block keywords %}{% endblock %}


{% block content %}
<!--==========CONTACT===========-->
<section class="contact section container" id="contact">
    <div class="contact__container grid">
        <div class="contact__box">
            <h2 class="section__title">
                Reach out to us today <br> via any of the given modes
            </h2>
            <div class="contact__data">
                <div class="contact__information">
                    <h3 class="contact__subtitle">
                        Call us for instant support
                    </h3>
                    <span class="contact__description">
                        <i class="ri-phone-fill contact__icon"></i>
                        +91 - 123 6699
                    </span>
                </div>
                <div class="contact__information">
                    <h3 class="contact__subtitle">
                        Write us to our mail address
                    </h3>
                    <span class="contact__description">
                        <i class="ri-mail-send-fill contact__icon"></i>
                        user@gmail.com
                    </span>
                </div>
            </div>
        </div>

        <form id="contactForm" method="POST" action="/contact/" class="contact__form">
            {% csrf_token %}
            <div class="contact__inputs">
                <div class="contact__content">
                    <input type="email" name="email" placeholder=" " class="contact__input" required>
                    <label for="" class="contact__label">Email</label>
                    
                </div>
                <div class="contact__content">
                    <input type="text" name="name" placeholder=" " class="contact__input" required>
                    <label for="" class="contact__label">Name</label>
                    
                </div>
                <div class="contact__content contact__area">
                    <textarea name="message" placeholder=" " class="contact__input"></textarea>
                    <label for="" class="contact__label">Message</label>
                    
                </div>
            </div>

            <button class="button button--flex">
                Send Message
                <i class="ri-arrow-right-up-line button__icon"></i>
            </button>
        </form>
    </div>
</section>


{%endblock%}