{% extends 'plantswebsite/base.html' %}
{% load static %} 


{% block title %}Recent Gardener | Login{% endblock %}
{% block decription %}{% endblock %}
{% block keywords %}{% endblock %} 


{% block content %}

{% comment %} {{form.as_p}} {% endcomment %}
<section class="contact section container" id="login">
<div class="contact__container grid">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="">
                <div class="card mt-3 shadow contact__inputs">
                    <div class="card-body ">
                        <form action="" method="POST" class="contact__form">
                            {% csrf_token %}
                            <div class="contact__inputs">
                                <div class="text-center">
                                    <h2> Login to Recent Gardener </h2>
                                </div>
                                {% comment %} <hr> {% endcomment %}
                                <div class="contact__content">
                                    <input type="text" name="username" placeholder=" " class="contact__input">
                                    <label for="" class="contact__label"> Username </label>
                                </div>
                                <div class="form-group contact__content">
                                    <input type="Password" name="password" placeholder=" " class="contact__input">
                                    <label for="" class="contact__label"> Password </label>
                                </div>

                                <button type='submit' class="button button--flex">
                                    Login
                                    <i class="ri-arrow-right-up-line button__icon"></i>
                                </button> 
                            </div>
                        </form>
                        <a href="{% url 'plantswebsite:userpasswordreset' %} " class="footer__social-link"> Forgot Password?</a>
                        <h6>Create an account?<a href="{% url 'plantswebsite:register' %} " class="footer__social-link"> Register</a></h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</section>
{%endblock%}