{% extends 'plantswebsite/base.html' %}
{% load static %}


{% block title %}Recent Gardener | Plants Description{% endblock %}
{% block decription %}{% endblock %}
{% block keywords %}{% endblock %}


{% block content %}
<!--==========Plants Description===========-->

<section class="plantsdetail section container product_data" id="plantsdetail">
    <div class="about__container grid product_data">
        <img src="{{plants_object.image.url}}" alt="plantsdetail image" class="about__img">

        <div class="about__data">
            <h2 class="section__title about__title">
                {{plants_object.name}}
            </h2>

            <p class="about__description">
                {{plants_object.description}}
            </p>
            <h2 class="about__description">
                ₹ {{plants_object.price}} <s class="steps__card-description">₹ {{plants_object.original_price}}</s>
            </h2>
            
            <div class="incdec__subscribe">
                {% csrf_token %}
                {% comment %} <label for="Quantity"> Quantity</label> {% endcomment %}
                <input type="hidden" value="{{ plants_object.id }}" class="prod_id">
                <button class="button button--flex incdec__button decrement-btn">-</button>
                <input type="text" name="quantity" class="incdec__input form-control qty-input text-center" value="1">
                <button class="button button--flex incdec__button increment-btn">+</button>
                    
            </div>


            <div class="div about__details">
                <h3 class="about__title">
                    Plant Highlights
                </h3>
                <p class="about__details-description">
                    <i class="ri-checkbox-fill about__details-icon"></i>
                    {{ plants_object.highlights_one }}
                </p>
                <p class="about__details-description">
                    <i class="ri-checkbox-fill about__details-icon"></i>
                    {{ plants_object.highlights_two }}
                </p>
                <p class="about__details-description">
                    <i class="ri-checkbox-fill about__details-icon"></i>
                    {{ plants_object.highlights_three }}
                </p>
                <p class="about__details-description">
                    <i class="ri-checkbox-fill about__details-icon"></i>
                    {{ plants_object.highlights_four }}
                </p>
            </div>
            {% if plants_object.quantity >= 1 %}
                <button class="button button--flex addToCartBtn">
                    Add to Cart <i class="ri-shopping-cart-line button__icon"></i>
                </button>
            {% else %}
                <button class="button button--flex" disabled>
                    Out of Stock <i class="ri-arrow-right-down-line button__icon"></i>
                </button>
            {% endif %}
        </div>
    </div>
</section>


{%endblock%}