{% extends 'plantswebsite/base.html' %}
{% load static %}


{% block title %}Recent Gardener | Shop Now{% endblock %}
{% block decription %}{% endblock %}
{% block keywords %}{% endblock %}


{% block content %}
<!--==========SHOP===========-->
<section class="shop section container" id="shop">
    <h2 class="section__title-center">
        Shop From Our Exotic Plants
    </h2>
    <form action="/searchPlantsProducts" method="POST">
        {% csrf_token %}
        <div class="shop__search">  
            <input type="search" name="plantsSearch" id="searchPlants" class="search__input" required>
            <button type="submit" class="button button--flex footer__button">
                Search
                <i class="ri-search-2-fill button__icon"></i>
            </button>
        </div>
    </form>
    <p class="shop__description">
        Here are some selected plants from our showroom, all are in 
        excellent shape and has a long life span. Buy and enjoy best quality.
    </p>
    
    <div class="shop__container grid">
        {% for s in shop_plants %}
        {% comment %} {% if c.is_active %} {% endcomment %}
        <article class="shop__card">
            <div class="shop__circle"></div>
                
                <a href="{{s.id}}"> <img src="{{ s.image.url }}" alt="" class="shop__img"></a>
                <h3 class="shop__title">{{ s.name }}</h3>
                <span class="shop__price">₹ {{ s.price }} <s class="steps__card-description">₹ {{s.original_price}}</s></span>
                <button class="button--flex product__button">
                    <i class="ri-shopping-bag-line"></i>
                </button>
        </article>
        {% comment %} {% endif %} {% endcomment %}
        {% endfor %}
    </div>     
</section>


{%endblock%}