{% extends 'plantswebsite/base.html' %}
{% load static %} 


{% block title %}Recent Gardener | Password Reset{% endblock %}
{% block decription %}{% endblock %}
{% block keywords %}{% endblock %} 


{% block content %}

{% comment %} USER PASSWORD RESET {% endcomment %}
<section class="contact section container" id="PasswordReset">
<div class="contact__container grid">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="">
                <div class="card mt-3 shadow contact__inputs">
                    <div class="card-body ">
                        <form action="/userpasswordreset" method="POST" class="contact__form">
                            {% csrf_token %}
                            <div class="contact__inputs">
                                <div class="text-center">
                                    <h2> Reset Password </h2>
                                </div>
                                <div class="contact__content">
                                    {% comment %} {{ form.username }} {% endcomment %}
                                    <input type="text" name="resetEmail" placeholder=" " class="contact__input" required>
                                    <label for="" class="contact__label"> Email </label>
                                    {% comment %} {% if form.errors.username %}
                                        <label class="text-danger"> {{ form.errors.username }}</label>
                                    {% endif %}  {% endcomment %}
                                </div>
                                <div class="form-group contact__content">
                                    {% comment %} {{ form.password1 }} {% endcomment %}
                                    <input type="Password" name="password1" placeholder=" " class="contact__input" required>
                                    <label for="" class="contact__label"> Password </label>
                                    {% comment %} {% if form.errors.password1 %}
                                        <label class="text-danger"> {{ form.errors.password1 }}</label>
                                    {% endif %} {% endcomment %}
                                </div>
                                <div class="form-group contact__content">
                                    {% comment %} {{ form.password1 }} {% endcomment %}
                                    <input type="Password" name="password2" placeholder=" " class="contact__input" required>
                                    <label for="" class="contact__label"> Confirm Password </label>
                                    {% comment %} {% if form.errors.password1 %}
                                        <label class="text-danger"> {{ form.errors.password1 }}</label>
                                    {% endif %} {% endcomment %}
                                </div>

                                <button type='submit' class="button button--flex">
                                    Reset
                                    <i class="ri-arrow-right-up-line button__icon"></i>
                                </button> 
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</section>
{%endblock%}